[submodule "libhotstuff"]
	path = libhotstuff
	url = https://github.com/bentoumia/libhotstuff.git
[submodule "library"]
	path = library
  url = https://gitlab.sec.uni-passau.de/cb/library.git
	branch = max-in-flight
[submodule "themis"]
	path = themis
	url = https://github.com/ibr-ds/themis.git
[submodule "Kauri-Public"]
	path = Kauri-Public
	url = https://github.com/Raycoms/Kauri-Public.git
	branch = latest
[submodule "narwhal"]
	path = narwhal
	url = https://github.com/facebookresearch/narwhal.git
	branch = main
[submodule "bullshark"]
	path = bullshark
	url = https://github.com/facebookresearch/narwhal/
	branch = bullshark


